@import "/src/const/styles.css";

.LayoutContainer__site-content {
    height: var(--CONTENT_HEIGHT_WITHOUT_HEADER_AND_FOOTER);
    max-width: var(--MAX_WIDTH_CONTENT);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    padding: 20px;
    margin: 0 auto;
}
